$darkgrey: #2b2b2b;

.resultList{
	width: 400px;
	position: fixed;
	left: 40px;
	top: 80px;
	bottom: 20px;
	overflow: hidden;
	padding-top: 53px;
	
	border-radius: 5px;
	
	background-color: rgb(43,43,43);	

	
	ul {
		padding: 0;
		margin: 0;
	}
	
	li {
		padding: 15px 30px;
		position: relative;
		list-style: none;
		border-bottom: 1px solid white;
	}

	li > ul {
		border-top: 1px solid white;
	}

	li:last-child {
		border: none;
	}
	
	// TITLE RESULT 
	.resultTitle{
		height: 53px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		font-size: 1em;
		padding: 15px 30px;
		background-color: rgb(236,78,80);

		vertical-align: middle;

		h2{
			float: left;
			margin: 0px;
			padding: 6px 0px;
			color: rgb(43,43,43);
		}

		button{
			background: 0px;
			border: 0px;
			float: right;
			cursor: pointer;

			padding-top: 5px;

			image{
				width: 20px;
			}
		}
	}
	
	// LIST OF CINEMAS
	.cinema {
		height: 100%;
		overflow: auto;
		cursor: pointer;
		
		.nameCinema{
			font-weight: bold;
			position: relative;
			display: inline-block;
			color: rgb(236,78,80);

			&::before {
				content: '•';
				display: block;
				position: absolute;
				right: 100%;
				padding-right: 6px;
				top: 0;
			}
		}

		.adresseCinema{
			color: rgb(140,140,140);
		}
	}
	
}
