body > #root > div {
  height: 100vh; // So that App is full height
}

.App {
 	font-family: Verdana;
 	color: #010101;
	background-color: red;

  h2 {
    text-transform: uppercase;
  }
}

.searchbar {
	background-color: white;

	width: 300px;

	position: fixed;
	left: 40px;
	top: 20px;
	padding: 8px 20px;
	border-radius: 3px;
}

.seatFilter {
  background-color: white;

  width: 300px;

  position: fixed;
  left: 40px;
  top: 70px;
  padding: 8px 20px;
  border-radius: 3px;
}

.screenFilter {
  background-color: white;

  width: 300px;

  position: fixed;
  left: 40px;
  top: 205px;
  padding: 8px 20px;
  border-radius: 3px;
}
