body > #root > div {
  height: 100vh; // So that App is full height
}

.App {
 	font-family: Verdana;
 	color: #010101;
	background-color: red;

  h2 {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: lighter;
  }
}

.component {
  background-color: white;
  width: 300px;
  position: fixed;
  left: 40px;

	padding: 8px 20px;
	border-radius: 3px;


  &.searchbar {
  	top: 20px;
  }

  &.seatFilter {
    top: 70px;
  }

  &.screenFilter {
    top: 185px;
  }

  &.ageFilter {
    top: 295px;
  }

  &.freqFilter {
    top: 405px;
  }

  &.artHouseFilter {
    top: 515px;
  }
}
