body {
  margin: 0;
  padding: 10;
  font-family: arial, sans-serif; }

/**Double Range Slider CSS*/
.filter .rc-slider-track {
  background-color: black; }

.filter .rc-slider-handle {
  border-color: red; }

.filter .rc-slider-rail {
  background-color: #eee; }

.filter .values {
  position: relative; }
  .filter .values input {
    display: inline-block;
    color: #999;
    border: none; }
    .filter .values input.min-value {
      left: 0;
      text-align: left; }
    .filter .values input.max-value {
      position: absolute;
      right: 0;
      text-align: right; }
